#--------------------------------------------------
# Répertoire : /HopitalE2N/
#--------------------------------------------------

# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine On

#--------------------------------------------------
# Règles de réécriture d'URL :
#--------------------------------------------------

# Article avec numéro de page :
RewriteRule "^([a-z\-]+)\.html$" "index.php?section=$1" [L]
RewriteRule "^([a-z\-]+)/calendrier/([0-9]{1,2})-([0-9]{4})\.html$" "index.php?section=$1&monthDate=$2&yearDate=$3"
RewriteRule "^([a-z\-]+)/patient/([0-9]+)\.html$" "index.php?section=$1&patient=$2"
RewriteRule "^([a-z\-]+)/page-([0-9]+)\.html$" "index.php?section=$1&page=$2"

# CUSTOM ERROR PAGES
ErrorDocument 404 /error/errors404.html
